*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /* height: 900px; */
}

header{
    background-color: white;
    margin: 10px;
    display: flex;
}

.breeze{
    width: 50%;
}

.menu{
    width: 50%;
    margin: 5px;
    text-align: right;
    padding-top: 20px;
}

img[src$="img/breeze.png"]{
    height: 50px;
}

li{
    display: inline-block;
}

.main{
    display: flex;
    height: 100%;
}

.contents1{
    background-color: aqua;
    width: 60%;
    padding: 5px 10px 10px 10px;
    /* display: flex; */
}

.contents2{
    background-color: aquamarine;
    width: 40%;
}

.contents1, .contents2{
    height: 100%;
}

h1{
    font-size: 5.5vw;
    font-style: bold;
    text-align: center;
}

img[src$="img/soyokaze.jpg"]{
    width: 40%;
}

.introduce{
    display: flex;
    font-size: 1.3vw;
}

img[src$="img/soyokaze.jpg"], .introduce{
    height: 50%;
}

.words{
    padding-left: 10px;
}

h3{
    font-size: 4vw;
    text-align: center;
}

.icons{
    display: flex;
    margin: 20px;
    height: 50px;
}

img[src$="img/robotmedia.jpg"]{
    height: 50px;
    margin: 20px;
}

p{
    text-align: center;
}

footer{
    background-color: bisque;
    height: auto;
    text-align: right;
}