*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /* height: 900px; */
}

header{
    background-color: white;
    margin: 10px;
    height: 50px;
    display: flex;
}

.breeze{
    width: 50%;
}

.menu{
    width: 50%;
    margin: 5px;
    text-align: right;
    padding-top: 25px;
}

img[src$="img/breeze.png"]{
    height: 100%;
}

li{
    display: inline-block;
}

.main{
    display: flex;
    height: 100%;
}

.contents1{
    background-color: aqua;
    width: 60%;
    padding: 5px 10px 10px 10px;
}

.contents2{
    background-color: aquamarine;
    width: 40%;
}

.contents1, .contents2{
    height: 100%;
}

h1{
    font-size: 5.5vw;
    font-style: bold;
    text-align: center;
}

img[src$="img/soyokaze.jpg"]{
    width: 40%;
}

.introduce{
    display: flex;
    font-size: 1.3vw;
}

img[src$="img/soyokaze.jpg"], .introduce{
    height: 50%;
}

.words{
    padding-left: 10px;
}

.contents2 h4{
    padding-top: 10px;
    font-size: 3vw;
    text-align: center;
}

.icons{
    display: flex;
    margin: 0px 20px 10px 20px;
    padding: 2px;
    height: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

img[src$="img/robotmedia.jpg"]{
    width: 90%;
    margin: 0px 20px 10px 20px;
}

p{
    text-align: center;
}

footer{
    background-color: bisque;
    height: auto;
    text-align: right;
    padding: 10px;
}