*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #d2fcfc;
    padding: 10px;
    height: 10%;
    display: flex;
}

.breeze{
    width: 50%;
}

.menu{
    width: 50%;
    padding: 5px;
    text-align: right;
    padding-top: 25px;
}

img[src$="img/breeze.png"]{
    height: 100%;
}

.menu li{
    display: inline-block;
}

.main{
    display: flex;
    height: 80%;
}

.contents1{
    background-color: mintcream;
    width: 60%;
    padding: 5px 10px 10px 10px;
}

.contents2{
    background-color: gainsboro;
    width: 40%;
}

/* .contents1, .contents2{
    height: 100%;
} */

h1{
    font-size: 60px;
    font-style: bold;
    text-align: center;
}

.photo{
    width: 35%;
    margin-left: 30px;
}

img[src$="img/soyokaze.jpg"]{
    width: 100%;
    height: 100%;
}

.introduce{
    display: flex;
}

/* img[src$="img/soyokaze.jpg"], .introduce{
    height: 50%;
} */

.words{
    padding-left: 30px;
    font-size: 20px;
    width: 65%;
}

ul li{
    list-style-type: none;
}

.contents2 h4{
    padding-top: 10px;
    font-size: 3vw;
    text-align: center;
}

.icons{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0px 20px 10px 20px;
    padding: 2px;
    height: 70px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.filmmaker{
    width: 100%;
    font-size: 1.5vw;
}

img[src$="img/robotmedia.jpg"]{
    width: 93%;
    margin: 0px 20px 10px 20px;
    padding: 2px;
}

p{
    /* flex-wrap: wrap; */
    font-display: block;
    text-align: center;
}

footer{
    background-color: #d2fcfc;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: right; */
    /* padding: 10px; */
}

.contact{
    padding: 10px;
    width: 100%;
    text-align: right;
    font-size: 15px;
}